* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.ride-reg {
    @apply flex flex-row
}



.ride-form {
    @apply flex flex-col w-[33.15rem]
}

.ride-head {
    @apply text-tt font-medium leading-[3.46rem] mb-[1.49rem] text-[#89db75]
}

.label {
    @apply mb-[0.5rem]
}

.ride-desc {
    @apply text-[1.43rem] w-[100%] flex-wrap leading-[1.85rem] font-normal text-[#99bba3]
}

.ride-top {
    @apply mb-[1rem]
}

.ride-line {
    border: 0.08rem solid #F5F5F5;

    @apply w-[32.85rem] mb-[0.5rem]
}

.ride-reg-form {
    @apply flex flex-col gap-[1.45rem] w-[33.15rem]
}

.input {
    border: 0.07rem solid #86a693;
    @apply w-[100%] h-[4rem] rounded-[1rem] pl-[2rem]
}

.input:focus {
    outline: none;
}

.label {
    @apply text-[1.23rem] leading-[1.46rem]
}

.ride-button {
    border-radius: 0.43rem;

    @apply w-[100%] h-[4rem] bg-green-400 text-[white] text-[1.5rem]
}

.ride-button:hover {
    box-shadow: 0rem 0.29rem 0.71rem 0.21rem rgba(0, 0, 0, 0.11);
    @apply bg-[#0b6b0b]
}

.ride-button:hover:not(:disabled) {
    box-shadow: 0rem 0.29rem 0.71rem 0.21rem rgba(0, 0, 0, 0.11);
    @apply bg-[#0b6b0b];
}

.ride-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.cont {
    @apply w-[100%] flex flex-col
}

@media (max-width: 767px) {

    .ride-reg {
        @apply flex flex-col justify-center items-center
    }



    .ride-form {
        @apply flex flex-col w-[22rem] justify-center items-center ml-[0rem]
    }

    .ride-head {
        @apply font-medium leading-[1.46rem] mb-[1.29rem] text-[#89db75] flex justify-center text-[2rem]
    }

    .label {
        @apply mb-[0.5rem]
    }

    .ride-desc {
        @apply text-[1.2rem] w-[20rem] flex-wrap leading-[1.85rem] font-normal text-[#99bba3] text-center
    }

    .ride-top {
        @apply mb-[1rem]
    }

    .ride-line {
        border: 0.08rem solid #F5F5F5;

        @apply w-[22.85rem] mb-[0.5rem]
    }

    .ride-reg-form {
        @apply flex flex-col gap-[0.2rem] w-[22rem] justify-center items-center
    }

    .input {
        border: 0.07rem solid #86a693;
        @apply w-[20rem] h-[3.5rem] rounded-[1rem] pl-[2rem] ml-[0rem]
    }

    .input:focus {
        outline: none;
    }

    .label {
        @apply text-[1rem] leading-[1.46rem] ml-[2rem]
    }

    .ride-button {
        border-radius: 0.43rem;

        @apply w-[20rem] h-[3rem] bg-green-400 text-[white] text-[1.5rem] mt-[0.5rem] mb-[2rem]
    }

    .ride-button:hover {
        box-shadow: 0rem 0.29rem 0.71rem 0.21rem rgba(0, 0, 0, 0.11);
        @apply bg-[#0b6b0b]
    }

    .ride-button:hover:not(:disabled) {
        box-shadow: 0rem 0.29rem 0.71rem 0.21rem rgba(0, 0, 0, 0.11);
        @apply bg-[#0b6b0b];
    }

    .ride-button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    .cont {
        @apply w-[22rem] pl-[0.5rem]
    }

}